html {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

html * {
  margin: 0;
}

body {
  background: url('../img/background/bg_warehouse.png');
  width: 100%;
  height: 100vh;
}

body * {
  position: absolute;
  display: inline-block;
}

/* characters */
bomber {
  width: 60px;
  height: 80px;
}

walker {
  width: 60px;
  height: 80px;
  background: url('../img/characters/zombies/walker/spr_zombie1_attack_0.png');
  transform: scaleX(-1);
}

/* weapons */
machinegun {
  width: 66px;
  height: 18px;
  background: url('../img/weapons/spr_machinegun_0.png')
}

machinegunbullet {
  width: 9px;
  height: 5px;
  background: url('../img/weapons/bullets/spr_machinegunBullet_0.png')
}